<h1>Register New App</h1>
<div class="row">
  <div class="col-md-4">
    <p> Please include : </p>
    <ul>
      <li>Name of the app to track</li>
      <li>URL of the app to be tracked</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: "form" %>
  </div>
</div>
