<h1><%= @registered_application.name %></h1>
<h2><%= @registered_application.URL %></h2>
  <p> Information about that App and functions go in here?</p>
  <p>
    <% @registered_application.events.each do |event| %>
    <ul>
      <li><%= event.name %></li>
    </ul>
    <% end %>
  </p>

  <p><%= link_to "Delete App", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: "do you really want to do this?"} %></p>
