<h1><%= @registered_application.name %>
  <p> Information about that App and functions go in here?</p>

  <p><%= link_to "Delete App", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: "do you really want to do this?"} %></p>
